<ion-header>

  <ion-navbar>
    <ion-title>lista</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Nombre: {{ user.data.first_name }} {{ user.data.last_name }}</h2>

  <ion-card *ngFor="let alarm of alarms">
    <ion-card-header>
      {{ alarm.type === 'control' ? 'Cita de control' : 'Toma de medicamentos' }}
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="alarm.type === 'medicine'" >
        <ion-item *ngFor="let medicine of alarm.medicines">
          <strong>Medicamento:</strong> {{ medicine.name }}<br>
          <strong>Hora:</strong> {{ medicine.date | date:'h:mm a' }} (Cada {{ medicine.interval }} horas)
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
