<ion-header>

  <ion-navbar>
    <ion-title>Alarmas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Nombre: {{ user.data.first_name }} {{ user.data.last_name }}</h2>

  <ion-card *ngIf="alarms.medicines.length">
    <ion-card-header>
      <p><strong>Fecha control de cita:</strong> {{ alarms.control | date }}</p>
      <p><strong>Fecha entrega de medicamentos:</strong> {{ alarms.delivery | date }}</p>
    </ion-card-header>

    <ion-card-content>
      <strong>Toma de medicamentos</strong>

      <ion-list>
        <ion-item *ngFor="let medicine of alarms.medicines">
          <strong>Medicamento:</strong> {{ medicine.name }}<br>
          <strong>Hora:</strong> {{ medicine.date | date:'h:mm a' }} (Cada {{ medicine.interval }} horas)
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <button ion-button full (click)="registerAlarms()">Registrar o Editar</button>
</ion-content>
